@-webkit-keyframes heartbeat {
  62% { transform: scale(1, 1);}
  68% {  transform: scale(1.2, 1.2); }
  86% {  transform: scale(1, 1); }
  90% {  transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1);}
}
