.nav-item.show-child {
  margin-left: 0 !important;
}

.nav-item.show-child > a {
  padding: .425rem 2rem;
}

.nav-item.show-child:hover .cat-child-container {
  display: block;
}

.nav-item.show-child:hover > a {
  color: #014c8c !important;
  background-color: #fff;
  border-color: #ddd #ddd transparent;
}

.cat-child-container {
  display: none;
  position: absolute;
  width: calc(100% + 2px);
  right: -1px;
  padding: 1rem;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 0.25rem 0.25rem;
}

.cat-dropdown {
  right: 0;
  padding: 0;
  width: 90%;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}
