.pbox .product-name {
  position: relative;
  padding: 0.1rem 0.7rem;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 13px 13px 0px 0px #FFFFFF;
  background: white;
}

.pbox .product-name .fa-ellipsis-h {
  position: absolute;
  left: 3px;
  top: 9px;
  background: white;
  box-shadow: 0 0 29px 17px white;
}

.pbox .product-price {
  padding: .2rem 0.7rem .3rem;
  position: relative;
}

.pbox .product-price::before {
  content: "";
  display: block;
  position: relative;
  width: 150px;
  height: 1px;
  top: -3px;
  right: 50%;
  margin-right: -75px;
  background: #EEE6E6;
}

.pbox a {
  text-decoration: none;
}

.pbox a:hover {
  color: #AA0718;
}

.product-box {
  height: 500px;
  overflow: overlay;
  word-wrap: break-word;
}

.product-box .product-buttons {
  position: absolute;
  left: 5px;
  top: 55px;
}

.product-img {
  width: 100%;
}

.pbox .quick-view-btn {
  position: absolute;
  width: 0;
  left: -50%;
  margin-left: -40%;
  text-align: center;
  bottom: 4.5rem;
  opacity: 0;
  transition: all 0.5s;
  transform: rotate(-90deg);
}

.pbox:hover .quick-view-btn {
  width: 80%;
  left: 50%;
  opacity: 1;
  transform: rotate(0);
}

.pbox:hover img.full-width {
  transform: scale(1.2, 1.2);
}

.pbox img.full-width {
  transition: all 1s;
}
