.ms-container {
  position: relative;
}

.ms-container .slide {
  min-height: 250px;
  /*background: #f7f7f9;*/
}

.ms-container .slide .left-image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 300px;
  width: auto;
}

.slide span.fa-angle-left {
  position: relative;
  top: 2px;
}

.category-block {
  display: block;
  position: relative;
  overflow: none;
}

.category-block .overlay {
  opacity: 0;
  color: white;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.category-block .overlay .icon {
  font-size: 3rem;
}

.category-block img {
  transition: all 0.2s;
}

.category-block:hover img {
  transform: scale(1.2, 1.2);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.category-block:hover .overlay {
  opacity: 1;
  box-shadow: 0 0 1px 1px black;
}
