.right-dropdown,
.left-dropdown {
  position: static;
}

.right-dropdown .dropdown-menu {
  right: 2rem;
}

.cat-dropdown {
  min-width: 80%;
  padding: 0;
}

.cart-dropdown .dropdown-menu {
  min-width: 50%;
  max-width: 100%;
}

.absolute-left {
  position: absolute;
  left: -5px;
}

.product-box {
  height: 500px;
  overflow: overlay;
  word-wrap: break-word;
}

.product-box .product-buttons {
  position: absolute;
  left: 5px;
  top: 55px;
}

.card .quick-view-btn {
  position: absolute;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  text-align: center;
  bottom: 4rem;
  opacity: 0;
  transition: all 0.2s;
}

.pbox:hover .quick-view-btn {
  opacity: 1;
}

.pull-xs-left .dropdown {
  left: 2rem;
}

.text-left {
  text-align: left;
}

.product-img {
  width: 100%;
}
