.ms-container ul{
	padding: 0;
}
.ms-container ul li{
	list-style: none;
}
.ms-container img{
	width: 100%;
}


.ms-list-item.ng-enter {
  transition: all linear 2s;
  opacity: 0;
}
.ms-list-item.ng-enter-active {
  opacity: 1;
}
.ms-list-item.ng-leave {
	top:0;
	position: absolute;
	z-index: 1000;
  transition: all linear 2s;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.ms-list-item.ng-leave-active {
  opacity: 0;
  transform: translate3d(100px, 0, 0);
}